{% extends '_base.html' %}
{% load static %}
{% block page_title %}detail service{% endblock %}
{% block content %}

  

    <div class="breadcumb-wrapper" data-bg-src="assets/img/breadcumb/breadcumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h2 class="breadcumb-title">Services Details</h2>
                <div class="breadcumb-menu-wrapper">
                    <ul class="breadcumb-menu">
                        <li><a href="index.html">Home</a></li>
                        <li>Services Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-lg-8">
                    <div class="page-single service-single">
                        <div class="page-img"><img src="{{typeservice.picture.url }}" alt="{{typeservice.name}}">
                        </div>
                        <div class="page-content">
                            <h2 class="">{{typeservice.name}}</h2>
                            <p>{{typeservice.info | safe}}
                                </p>
                  
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4">
                    <aside class="sidebar-area">
                        <div class="widget widget_search">
                            <form  action="{% url 'service:typeservice' %}" class="search-form">
                                {% csrf_token %}
                                
                                <input type="search" name="search" placeholder="Enter Keyword"> <button
                                    type="submit"><i class="far fa-search"></i></button></form>
                        </div>
                        <div class="widget widget_categories">
                            <h3 class="widget_title">Categories</h3>
                            <ul>
                                {%for cat in category %}
                                    <li><a href="{{ cat.get_absolute_url }}"><img src="{%static  'assets/img/theme-img/flower.svg'%}" alt="">
                                            {{cat.name}}</a>
                                            <span>({{ forloop.counter }})</span>

                                    </li>
                                {%endfor%}
                             
                            </ul>
                        </div>
                        <div class="widget widget_categories">
                            <h3 class="widget_title">Reserved</h3>
                            <div class="appointment-form wow fadeInUp">
                                                                     
                            <form method="post" action="{% url 'service:typeservice' %}">
                                {% csrf_token %}
                                                        
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <i class="fa-sharp fa-light fa-user"></i>
                                            <input type="text" id="firstname" name="firstname" placeholder="First Name" class="form-control">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <i class="fa-sharp fa-light fa-user"></i>
                                            <input type="text" id="lastname" name="lastname" placeholder="Last Name" class="form-control">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <i class="fa-light fa-envelope-open"></i>
                                            <input type="email" id="email" name="email" placeholder="Email Address" class="form-control">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <i class="fa-light fa-phone"></i>
                                            <input type="text" id= "phone" name="phone" placeholder="Phone Number" class="form-control">
                                        </div>
                                        <div class="form-group col-12">
                                            <i class="fa-regular fa-tag"></i>
                                            <select name="service"  id= "service" type ="service" class="form-select nice-select">
                                                <option value="" disabled="disabled" selected="selected" hidden>Select TypeService</option>
                                                {% for service1 in typeservice2 %}
                                                    <option value="{{ service1.id }}">{{ service1.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group col-12">
                                            <input type="date"  id="date" name="date" class="date-pick form-control" placeholder="Select Date">
                                            <!-- <i class="fa-light fa-calendar-days"></i> -->
                                        </div>
                                        
                                        <div class="form-group col-12">
                                            <input type="time" id="time" name="time" class="time-pick form-control" placeholder="Select Time">
                                            <!-- <i class="fa-light fa-clock"></i> -->
                                        </div>
                                        <div class="btn-group justify-content-center justify-content-xl-start">
                                            <button type="submit" class="th-btn style3 fw-btn">Make An Appointment 
                                                <i class="fa-solid fa-arrow-right ms-2"></i></button>
                                        </div>
                                    </div>
                            
                            </form>
                                </div>
                            </div>
                        
                        <div class="widget widget_tag_cloud">
                            <!-- <h3 class="widget_title">Tags</h3> {% for tag in typeservice.tags.all %} -->
                            <div class="tagcloud">
                                <a href="">
                                    {{ typeservice.tags.all|join:"  | " }}
                               </a> 
 
                                 <!---------{% url 'service:service_tag'  tag_id=tag.id slug=tag.slug %}!---->
                               {%endfor%}
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>

        </div>
        <div class="shape-mockup" data-top="0%" data-left="0%"><img src="{%static 'assets/img/shape/footer_shape_1.png'%}"
                alt="shape"></div>
        <div class="shape-mockup d-none d-xl-block" data-bottom="12%" data-right="0%"><img
                src="{%static 'assets/img/shape/footer_shape_2.png'%}" alt="shape"></div>
 
 

{% endblock content %}
