{% extends '_base.html' %}
{% load static %}
{% block page_title %}All service{% endblock %}
{% block content %}



  
            <div class="breadcumb-wrapper" data-bg-src="assets/img/breadcumb/breadcumb-bg.jpg">
                <div class="container">
                    <div class="breadcumb-content">
                        <h2 class="breadcumb-title">Our Team</h2>
                        <div class="breadcumb-menu-wrapper">
                            <ul class="breadcumb-menu">
                                <li><a href="index.html">Home</a></li>
                                <li>Our Team</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <section class="team-area2 space">
                <div class="container">
                    <div class="row gy-4">
                        {%for personservices in personservice %}
                        <div class="col-sm-6 col-lg-4 col-xxl-3">
                            
                            <div class="th-team team-box style2">
                               
                                <div class="team-img"><img src="{{personservices.image.url}}" alt="Team"></div>
                                <div class="team-box_content">
                                    <h3 class="box-title"><a href="{{personservices.get_absolute_url}}">{{personservices.user.first_name}} {{personservices.user.last_name}}</a></h3>
                                    <span
                                        class="team-desig">{{personservices.typeservice.name}}</span>
                                    <div class="social-links"><a target="_blank" href="https://facebook.com/"><i
                                                class="fab fa-facebook-f"></i></a> <a target="_blank"
                                            href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                            href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                            href="https://www.skype.com/"><i class="fa-brands fa-skype"></i></a></div>
                                </div>
                              
                            </div>
                           
                        </div>
                        {%endfor%}
                
                    </div>
                </div>


                <div class="shape-mockup jump d-none d-xl-block" data-top="10%" data-right="0%"><img
                        src="{%static 'assets/img/shape/flower_1_12.png'%}" alt="shape"></div>
                <div class="shape-mockup jump d-none d-xl-block" data-bottom="10%" data-left="0%"><img
                        src="{% static 'assets/img/shape/flower_1_16.png'%}" alt="shape"></div>
            </section>


{%endblock content%}