{% extends '_base.html' %}
{% load static %}
{% block page_title %}All service{% endblock %}
{% block content %}



  
<div class="breadcumb-wrapper" data-bg-src="assets/img/breadcumb/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h2 class="breadcumb-title">Our Team</h2>
            <div class="breadcumb-menu-wrapper">
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li>Our Team</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="team-area2 space">
    <div class="container">
        <div class="row gy-4">
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-box style2">
                    <div class="team-img"><img src="assets/img/team/team_3_1.jpg" alt="Team"></div>
                    <div class="team-box_content">
                        <h3 class="box-title"><a href="team-details.html">Daniel Martin</a></h3><span
                            class="team-desig">Hair Specialist</span>
                        <div class="social-links"><a target="_blank" href="https://facebook.com/"><i
                                    class="fab fa-facebook-f"></i></a> <a target="_blank"
                                href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                href="https://www.skype.com/"><i class="fa-brands fa-skype"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                {%for personservices in personservice %}
                <div class="th-team team-box style2">
                    <div class="team-img"><img src="assets/img/team/team_3_2.jpg" alt="Team"></div>
                    <div class="team-box_content">
                        <h3 class="box-title"><a href="team-details.html">{{personservices.user.firt_name}} {{personservices.user.last_name}}</a></h3>
                        <span
                            class="team-desig">{{personservices.typeservice.name}}</span>
                        <div class="social-links"><a target="_blank" href="https://facebook.com/"><i
                                    class="fab fa-facebook-f"></i></a> <a target="_blank"
                                href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                href="https://www.skype.com/"><i class="fa-brands fa-skype"></i></a></div>
                    </div>
                </div>
                {%endfor%}
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-box style2">
                    <div class="team-img"><img src="assets/img/team/team_3_3.jpg" alt="Team"></div>
                    <div class="team-box_content">
                        <h3 class="box-title"><a href="team-details.html">Michel Jonson</a></h3><span
                            class="team-desig">Beauty Specialist</span>
                        <div class="social-links"><a target="_blank" href="https://facebook.com/"><i
                                    class="fab fa-facebook-f"></i></a> <a target="_blank"
                                href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                href="https://www.skype.com/"><i class="fa-brands fa-skype"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-box style2">
                    <div class="team-img"><img src="assets/img/team/team_3_4.jpg" alt="Team"></div>
                    <div class="team-box_content">
                        <h3 class="box-title"><a href="team-details.html">Jessica Lauren</a></h3><span
                            class="team-desig">Beauty Specialist</span>
                        <div class="social-links"><a target="_blank" href="https://facebook.com/"><i
                                    class="fab fa-facebook-f"></i></a> <a target="_blank"
                                href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                href="https://www.skype.com/"><i class="fa-brands fa-skype"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-box style2">
                    <div class="team-img"><img src="assets/img/team/team_3_5.jpg" alt="Team"></div>
                    <div class="team-box_content">
                        <h3 class="box-title"><a href="team-details.html">Daniel Martin</a></h3><span
                            class="team-desig">Spa Specialist</span>
                        <div class="social-links"><a target="_blank" href="https://facebook.com/"><i
                                    class="fab fa-facebook-f"></i></a> <a target="_blank"
                                href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                href="https://www.skype.com/"><i class="fa-brands fa-skype"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-box style2">
                    <div class="team-img"><img src="assets/img/team/team_3_6.jpg" alt="Team"></div>
                    <div class="team-box_content">
                        <h3 class="box-title"><a href="team-details.html">Emma Mary</a></h3><span
                            class="team-desig">Spa Specialist</span>
                        <div class="social-links"><a target="_blank" href="https://facebook.com/"><i
                                    class="fab fa-facebook-f"></i></a> <a target="_blank"
                                href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                href="https://www.skype.com/"><i class="fa-brands fa-skype"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-box style2">
                    <div class="team-img"><img src="assets/img/team/team_3_7.jpg" alt="Team"></div>
                    <div class="team-box_content">
                        <h3 class="box-title"><a href="team-details.html">Michel Jonson</a></h3><span
                            class="team-desig">Spa Specialist</span>
                        <div class="social-links"><a target="_blank" href="https://facebook.com/"><i
                                    class="fab fa-facebook-f"></i></a> <a target="_blank"
                                href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                href="https://www.skype.com/"><i class="fa-brands fa-skype"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-box style2">
                    <div class="team-img"><img src="assets/img/team/team_3_8.jpg" alt="Team"></div>
                    <div class="team-box_content">
                        <h3 class="box-title"><a href="team-details.html">Jessica Lauren</a></h3><span
                            class="team-desig">Spa Specialist</span>
                        <div class="social-links"><a target="_blank" href="https://facebook.com/"><i
                                    class="fab fa-facebook-f"></i></a> <a target="_blank"
                                href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                href="https://www.skype.com/"><i class="fa-brands fa-skype"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-box style2">
                    <div class="team-img"><img src="assets/img/team/team_3_9.jpg" alt="Team"></div>
                    <div class="team-box_content">
                        <h3 class="box-title"><a href="team-details.html">Daniel Martin</a></h3><span
                            class="team-desig">Hair Specialist</span>
                        <div class="social-links"><a target="_blank" href="https://facebook.com/"><i
                                    class="fab fa-facebook-f"></i></a> <a target="_blank"
                                href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                href="https://www.skype.com/"><i class="fa-brands fa-skype"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-box style2">
                    <div class="team-img"><img src="assets/img/team/team_3_10.jpg" alt="Team"></div>
                    <div class="team-box_content">
                        <h3 class="box-title"><a href="team-details.html">Emma Mary</a></h3><span
                            class="team-desig">Hair Specialist</span>
                        <div class="social-links"><a target="_blank" href="https://facebook.com/"><i
                                    class="fab fa-facebook-f"></i></a> <a target="_blank"
                                href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                href="https://www.skype.com/"><i class="fa-brands fa-skype"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-box style2">
                    <div class="team-img"><img src="assets/img/team/team_3_11.jpg" alt="Team"></div>
                    <div class="team-box_content">
                        <h3 class="box-title"><a href="team-details.html">Michel Jonson</a></h3><span
                            class="team-desig">Hair Specialist</span>
                        <div class="social-links"><a target="_blank" href="https://facebook.com/"><i
                                    class="fab fa-facebook-f"></i></a> <a target="_blank"
                                href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                href="https://www.skype.com/"><i class="fa-brands fa-skype"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-box style2">
                    <div class="team-img"><img src="assets/img/team/team_3_12.jpg" alt="Team"></div>
                    <div class="team-box_content">
                        <h3 class="box-title"><a href="team-details.html">Jessica Lauren</a></h3><span
                            class="team-desig">Hair Specialist</span>
                        <div class="social-links"><a target="_blank" href="https://facebook.com/"><i
                                    class="fab fa-facebook-f"></i></a> <a target="_blank"
                                href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                href="https://www.skype.com/"><i class="fa-brands fa-skype"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-mockup jump d-none d-xl-block" data-top="10%" data-right="0%"><img
            src="assets/img/shape/flower_1_12.png" alt="shape"></div>
    <div class="shape-mockup jump d-none d-xl-block" data-bottom="10%" data-left="0%"><img
            src="assets/img/shape/flower_1_16.png" alt="shape"></div>
</section>

</body>
{%enblock content%}