{% extends '_base1.html' %}
{% load static %}
{% block page_title %}Blog{% endblock %}
{% block content %}
{% load page_temp %}

     <!-- <div class="breadcumb-wrapper"> 
         <div class="container">
           <div class="breadcumb-content">
                <h2 class="breadcumb-title">Blog</h2>
                <div class="breadcumb-menu-wrapper">
                    <ul class="breadcumb-menu">
                        <li><a href="index.html">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
       </div>
    </div> -->
    <section class="th-blog-wrapper space-top space-extra-bottom">
        <div class="container th-container">
            <div class="row">
                {%for posts in post%}
                    {% if posts.status == 'pub' %}
                <div class="col-lg-6 col-xl-4">
                            <div class="th-blog blog-single has-post-thumbnail">
                                    <div class="blog-img"><a href="blog-details.html"><img src="{{posts.cover.url}}"
                                                alt="Blog Image"></a></div>
                                                                       
                            <div class="blog-content">
                                <div class="blog-meta"><a href="blog.html"><i class="fas fa-user"></i>{{ posts.author.first_name }}&nbsp;{{ posts.author.last_name }}</a> <a
                                        href="blog.html"><i class="fa-solid fa-calendar-days"></i>{{posts.datetime_created}}</a> <a
                                                href="{{posts.get_absolute_url}}"><i class="fa-solid fa-tags"></i>{{ posts.tags.all|join:"," }}</a></div>
                                        <h2 class="blog-title"><a href="{{posts.get_absolute_url}}">{{posts.title}}
                                                </a></h2>
                                        <p class="blog-text">{{posts.text |truncatewords:20|safe}}
                                            </p>
                                            <a href="{{posts.get_absolute_url}}" class="th-btn">READ MORE<i
                                                class="fa-solid fa-right-long ms-2"></i></a> </div></div>


                </div>
                    {%endif%}
                {%endfor%}

<!-- Display posts associated with tags -->
{% if posts %}
    <div class="tagged-posts">
        <h3 style="color: green;">Posts tagged with: ({{ tag.name }})</h3>
        <div class="container th-container">
            <div class="row">
                {% for post in posts %}
                    <div class="col-lg-6 col-xl-4">
                        <div class="th-blog blog-single has-post-thumbnail">
                            <div class="blog-img">
                                <a href="{% url 'blog:post_detail' slug=post.slug %}">
                                    <img src="{{ post.cover.url }}" alt="Blog Image">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a href="blog.html"><i class="fas fa-user"></i> {{ post.author.first_name }} {{ post.author.last_name }}</a>
                                    <a href="blog.html"><i class="fa-solid fa-calendar-days"></i> {{ post.datetime_created }}</a>
                                    <a href="{{ post.get_absolute_url }}"><i class="fa-solid fa-tags"></i> {{ post.tags.all|join:"," }}</a>
                                </div>
                                <h2 class="blog-title">
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h2>
                                <p class="blog-text">{{ post.text |truncatewords:20|safe }}</p>
                                <a href="{{ post.get_absolute_url }}" class="th-btn">READ MORE<i class="fa-solid fa-right-long ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endif %}
                <div class="th-pagination text-center">
                    <ul>
                        {% if post.has_previous %}
                            <li><a href="{% filter_url post.previous_page_number 'page' request.GET.urlencode %}"><i class="fa-solid fa-arrow-left"></i></a></li>
                        {%endif%}
                            <li {% if page_number == page_number %} active {% endif %}><a href="{% filter_url post.number 'page' request.GET.urlencode %}">
                                {{ post.number }}</a></li>
                                
                        {% if post.has_next %}
                            <li><a href="{% filter_url post.next_page_number 'page' request.GET.urlencode %}"><i class="fa-solid fa-arrow-right"></i></a></li>
                        {%endif%}
                    </ul>
                </div>


                           
 
    </section>

{%endblock content%}