{% extends '_base1.html' %}
{% load static %}
{% block page_title %}Blog_Detail{% endblock %}
{% block content %}
{% load page_temp %}



<!-- <div class="breadcumb-wrapper" data-bg-src="assets/img/breadcumb/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h2 class="breadcumb-title">Blog Details</h2>
            <div class="breadcumb-menu-wrapper">
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li>Blog Details</li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
<section class="th-blog-wrapper blog-details space-top space-extra-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="th-blog blog-single has-post-thumbnail">
                    <div class="blog-img"><a href="blog-details.html"><img src="{{post.cover.url}}"
                                alt="Blog Image"></a></div>
                    <div class="blog-content">
                        <div class="blog-meta"><a href="blog.html"><i class="fa-solid fa-user">
                            {{ post.author.first_name }}&nbsp;{{ post.author.last_name }}</i>
                            </a> <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>{{post.datetime_created}}
                            </a> <a href="blog-details.html"><i class="fa-solid fa-tags"></i>{{post.category.name}}</a>
                        </div>
                        <h2 class="blog-title"><a href="blog-details.html">{{post.title}}
                            </a></h2>
                        <p>{{post.text|safe}}</p>

                    </div>
                    <div class="share-links clearfix">
                        <div class="row justify-content-between">
                            <div class="col-sm-auto">
                                <div class="tagcloud">
                                    {% for tag in post.tags.all %}
                                    <a href="{% url 'blog:tagged_posts' tag.slug %}">{{ tag.name }}</a>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-auto text-xl-end"><span class="share-links-title">Follow Us:</span>
                                <ul class="social-links">
                                    <li><a href="https://facebook.com/" target="_blank"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/" target="_blank"><i
                                                class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://linkedin.com/" target="_blank"><i
                                                class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://instagram.com/" target="_blank"><i
                                                class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="th-comments-wrap">
                    <h2 class="blog-inner-title h3"> Comments ({{comment.count}})</h2>
                    <ul class="comment-list">
                        {% for comments in comment %}
                        <li class="th-comment-item">
                            <div class="th-post-comment">
                                <div class="comment-avater"><img src="{%static 'assets/img/blog/man.png'%}"
                                        alt="Comment Author"></div>
                                <div class="comment-content">
                                    <div class="">
                                        <h3 class="name">{{comments.fullname}}</h3><span class="commented-on">
                                            {{comments.datetime_created}}</span>
                                    </div>
                                    <p class="text">{{comments.text}}
                                    </p>
                                    <div class="reply_and_edit"><a href="blog-details.html" class="reply-btn"><i
                                                class="fas fa-reply"></i>Reply</a></div>
                                </div>
                            </div>
                            <ul class="children">
                                {% for data in comments.comment_replay.all %}
                                <li class="th-comment-item">
                                    <div class="th-post-comment">
                                        <div class="comment-avater"><img src="{%static 'assets/img/blog/man2.jpg'%}"
                                                alt="Comment Author"></div>
                                        <div class="comment-content">
                                            <div class="">
                                                <h3 class="name">{{data.fullname}}</h3><span class="commented-on">
                                                    {{data.datetime_created}}
                                                   </span>
                                            </div>
                                            <p class="text">{{data.datetime_created}}</p>
                                            <div class="reply_and_edit"><a href="blog-details.html"
                                                    class="reply-btn"><i class="fas fa-reply"></i>Reply</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            {%endfor%}
                        </li>
                      
                    </ul>
                </div>
                <div class="th-comment-form">
                    <div class="form-title">
                        <h3 class="blog-inner-title mb-2"><i class="fa-solid fa-reply"></i>Leave a Reply</h3>
                        <p class="form-text">Your email address will not be published. Required fields are marked
                        </p>
                    </div>
                    <form action="{% url 'blog:comment_replay' post.id  comments.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row gy-4">
                        
                            <div class="col-md-6 form-group"><i class="fal fa-user"></i> <input type="text"
                                    name="fullname" id="fullname" placeholder="Your FullName*" class="form-control" required>
                            </div>
                            <div class="col-md-6 form-group"><i class="fal fa-envelope"></i> <input type="email"
                                name="email" id="email" placeholder="Your Email*" class="form-control" required>
                            </div>
                            <div class="col-12 form-group"><i class="fa-sharp fa-light fa-comments"></i> <textarea
                                name="text" id="text" placeholder="Write a Comment*" class="form-control" required></textarea>
			                </div>
                                <div class="col-12 form-group mb-0">
                                    <button type="submit" class="th-btn">Post <i  class="fa-regular fa-arrow-right"></i></button>
                                      
                                </div>
                        
                        </div>
                    </form>
                    {%endfor%}
                
                </div>
                </div>


            
            <div class="col-lg-4">
                <aside class="sidebar-area">
                    <div class="widget widget_search">
                        <form  action="{% url 'blog:posts' %}" class="search-form">
                            {% csrf_token %}
                            
                            <input type="search" name="search" placeholder="Enter Keyword"> <button
                                type="submit"><i class="far fa-search"></i></button>
                            </form>
                    </div>


                    <div class="widget widget_categories">
                        <h3 class="widget_title">Categories</h3>
                        <ul>
                            {% for cat in category.all %}
                            <li>
                                <a href="{% url 'blog:post_cat' category_id=cat.id %}">
                                    <img src="{% static 'assets/img/theme-img/flower.svg' %}" alt="">
                                    {{ cat.name }}
                                </a>
                                <span>({{ cat.post_set.count }})</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget">
                        <h3 class="widget_title">Recent Posts<span class="shape"></span></h3>
                        <div class="recent-post-wrap">
                            {% for recent_post in create %}
                            <div class="recent-post">

                                <div style="height: auto;width: 100px;" class="media-img"><a
                                        href="blog-details.html"><img src="{{recent_post.cover.url}}"
                                            alt="Blog Image"></a></div>
                                <div class="media-body">
                                    <div class="recent-post-meta"><a href="blog.html"><i
                                                class="fas fa-calendar-days"></i>{{recent_post.datetime_created}}</a>
                                    </div>
                                    <h4 class="post-title"><a class="text-inherit"
                                            href="{{recent_post.get_absolute_url }}">
                                            {{recent_post.title}}</a></h4>
                                </div>
                            </div>
                            {%endfor%}



                        </div>
                    </div>
                    <div class="widget widget_tag_cloud">
                        <h3 class="widget_title">Popular Tags</h3>
                        <div class="tagcloud">
                            {% for tag in post.tags.all %}
                                <a href="{% url 'blog:tagged_posts' tag.slug %}">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
{%endblock content%}