{% extends '_base.html' %}
{% load static %}
{% block page_title %}Blog{% endblock %}
{% block content %}
{% load page_temp %}

    <div class="breadcumb-wrapper" data-bg-src="assets/img/breadcumb/breadcumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h2 class="breadcumb-title">Blog – Grid (3 Columns)</h2>
                <div class="breadcumb-menu-wrapper">
                    <ul class="breadcumb-menu">
                        <li><a href="index.html">Home</a></li>
                        <li>Blog – Grid (3 Columns)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="th-blog-wrapper space-top space-extra-bottom">
        <div class="container th-container">
            <div class="row">
                {%for posts in post%}
                    {% if posts.status == 'pub' %}
                <div class="col-lg-6 col-xl-4">
                            <div class="th-blog blog-single has-post-thumbnail">
                                    <div class="blog-img"><a href="blog-details.html"><img src="{{posts.cover.url}}"
                                                alt="Blog Image"></a></div>
                                                                       
                            <div class="blog-content">
                                <div class="blog-meta"><a href="blog.html"><i class="fas fa-user"></i>{{ posts.author.first_name }}&nbsp;{{ posts.author.last_name }}</a> <a
                                        href="blog.html"><i class="fa-solid fa-calendar-days"></i>{{posts.datetime_created}}</a> <a
                                                href="blog-details.html"><i class="fa-solid fa-tags"></i>{{ posts.tags.all|join:"," }}</a></div>
                                        <h2 class="blog-title"><a href="blog-details.html">{{posts.title}}
                                                </a></h2>
                                        <p class="blog-text">{{posts.text |safe}}
                                            </p>
                                            <a href="blog-details.html" class="th-btn">READ MORE<i
                                                class="fa-solid fa-right-long ms-2"></i></a> </div></div>
                               
                            
                </div>
                    {%endif%}
                {%endfor%}
                <div class="th-pagination text-center">
                    <ul>
                        {% if post.has_previous %}
                            <li><a href="{% filter_url post.previous_page_number 'page' request.GET.urlencode %}"><i class="fa-solid fa-arrow-left"></i></a></li>
                        {%endif%}
                            <li {% if page_number == page_number %} active {% endif %}><a href="{% filter_url post.number 'page' request.GET.urlencode %}">
                                {{ post.number }}</a></li>
                                
                        {% if post.has_next %}
                            <li><a href="{% filter_url post.next_page_number 'page' request.GET.urlencode %}"><i class="fa-solid fa-arrow-right"></i></a></li>
                        {%endif%}
                    </ul>
                </div>
            </div>
        </div>
    </section>

{%endblock content%}